@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Open+Sans:wght@300;400;500&family=Roboto:wght@300;400;500;700&display=swap');

@layer components{
     .input{
          @apply  mt-2 text-gray-900 border-none text-lg outline-none ring-0 focus:ring-0 rounded-[3px] bg-[#EFF2F9]  block w-full p-[14px] placeholder:text-lg
     }
}



@font-face {
     font-family: apple-sd;
     src: url('../../public/fonts/Apple-SD-Gothic-Neo-Bold.ttf');
}
.font-apple-sd{
     font-family: apple-sd, 'Inter';
}
.font-inter{
     font-family: 'Inter', sans-serif;
}
.font-roboto{
     font-family: 'Roboto', sans-serif;
}
.ql-toolbar.ql-snow .ql-formats{
     border-right: 1px solid #BEC4D5;
     padding-right: 10px;
}
.ql-toolbar.ql-snow .ql-formats:last-child{
     border-right: none;
}
.ql-toolbar.ql-snow,
.ql-container.ql-snow{
     border: none !important;
}
.ql-container.ql-snow{
     padding: 0px 1rem;
     font-size: 19px;
     color: #1E2532;
     letter-spacing: 1px;
     font-weight: 300;
}
.ql-container{
 height: 200px !important
}

.image-container {
  width: 100%; 
}
.image-container > div {
     position: unset !important;
}
.image-container .image {
     object-fit: contain;
     width: 100% !important;
     position: relative !important;
     height: unset !important;
}
  